#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 90%;
    position: relative !important;
}

.controls:focus {
    border-color: #4d90fe;
}

.title {
    font-weight: bold;
    font-size: 14px;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.add-button-container {
    padding-top: 20px;
    text-align: center;
}

.add-button {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 14px 16px;
    display: inline-block;
    font-family: Roboto, sans-serif;
    line-height: 13px;
    color: #cc6c08;
    border: 1px solid #cc6c08;
    font-size: 12px;
    text-decoration: none;
}

.list-item--material__right {
    padding: 12px 12px 12px 0;
}

.list-item .center {
    color: #31313a;
    font-size: 14px;
}

:checked + .switch--material__toggle {
    background-color: rgb(243, 157, 0);
}

:checked + .switch--material__toggle > .switch--material__handle {
    background-color: rgb(150, 100, 8);
}
.popover--material__content{
    border-radius: 6px;
}
.gm-style .gm-style-iw-c{
    padding: 15px 0;
}