body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #696a6c;
    margin: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.toolbar {
    background: #d35908;
    padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
    padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}

:checked + .tabbar--material__button, :checked + .tabbar__button {
    background-color: #ffe1cc;
    color: #d35908;
}
.tabbar--material__button, .tabbar__button {
    color: #ffffff;
}
.bottom-bar, .tabbar:not(.tabbar--top) {
    background: #d35908;
    margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
    margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
}

.tabbar__icon{
    height: 32px;
}

.tabbar__item {
    background: #d35908;
}

.tabbar__item.active{
    background: #ffe1cc;
}

.center {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}
.text-right{
    text-align: right;
}
.page--material__content h1, .page__content h1 {
    font-size: 18px;
    margin: 0;
}
.green-color {
    color: #009000;
}
.restaurant-list {
    padding: 20px 0;
    border-bottom: 1px solid #009000;
}
.restaurant-list p{
    margin-bottom: 0;
}
.page--material, .page--material__background, .page, .page__background, .page__content {
    background: #ffffff;
}
.more-details {
    padding: 30px 0px 20px 0;
    text-align: left;
}
#content .more-details{
    padding-top: 20px;
}

.number-link {
    color: #d35908;
}

.marker-content {
    padding: 0 !important;
}

.marker-preview-info {
    padding-left: 15px;
}

.more-details a {
    padding: 10px 20px;
    border: 1px solid #d35908;
    border-radius: 6px;
    background: #ffe5bc;
}
.accordion {
    display: none;
    background: #eff9ef;
    padding: 5px 15px 20px 15px;
    width: 100%;
}
.accordion p{
    line-height: 1.5;
}
.tabbar__icon + .tabbar__label{
    font-size: 12px;
}
.disclaimer-icon {
    position: absolute;
    right: 10px;
    bottom: 100px;
    z-index: 99;
    background: #ffffff;
    padding: 5px 10px;
    border-radius: 50%;
}
.ion-android-notifications {
    color: #009000;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.search-bar-container{
    position: absolute;
    top: 20px;
    z-index: 999;
    width: 90%;
}
.search-bar{
    display: block;
}
    .search-bar input {
        background-color: #fff;
        font-size: 16px;
        letter-spacing: 0.5px;
        border-radius: 6px;
        height: 48px;
        box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24), 0 1px 0 0 rgba(255,255,255,.06) inset;
    }
.button--quiet {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 100%;
    color: #1f1f21;
    font-size: 22px;
}
.list-view-search{
    position: relative;
    top: 0;
    padding: 20px 0 15px 0;
}
.jain-bites-logo {
    width: 35%;
    margin: 0 auto;
    display: block;
    margin-top: -20px;
}

.about-us-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    padding-top: 25px;
}
/*.popover-mask{
    z-index: 0;
}*/